<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body style="text-align: center;
            background-color: whitesmoke;">
        <h2>Kuhnipay Buzón Anónimo</h2>
        <h1>Reporte anónimo</h1>
        <p>Por medio de este correo confirmamos que el repote anónimo fue realizado con éxito .</p>
        <p> <b>Asunto: </b>${Reporte} </p>
        <p> <b>Fecha: </b>${Fecha} </p>
        <p> <b>Detalle: </b>${ComentariosOC} </p>
    </body>
    <style>
        body {
            text-align: center;
            background-color: whitesmoke;
        }
        h1 {
            font-weight: bolder;
            font-size: 40px;
            margin-top: 20px;
        }
        h2 {
            font-size: 20px;
            margin-top: 60px;
        }
        p {
            font-size: 15px;
        }
    </style>
</html>

